#about {
    background-color: #F0F0F0;
}

.title-about {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    height: auto;
    padding: 20px;
    gap: 20px;
    width: 85%;
}

.photo {
    position: relative; 
    background-image: url(/assets/img/photo.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 290px;
    width: 18vw; 
    overflow: hidden;
    margin: 0 auto;
}

.photo:hover {
    transform: scale(1.05);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 40vw;
    line-height: 1.5;
    text-align: justify; 
    gap: 10px;
    margin-top: -20px
}

.text h3 {
    text-align: center;
}

.description p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw; 
    margin: 0 auto;
}

@media(max-width: 1024px) {
    .about-container {
        gap: 50px; 
    }

    .photo {
        width: 25vw; 
        height: 50vw; 
    }

    .text {
        width: 45vw; 
    }

    .text h3 {
        font-size: 28px; 
    }

    .description p {
        width: 40vw; 
        text-align: justify;
    }
}

@media(max-width: 768px) {
    .about-container {
        gap: 30px;
        flex-direction: column; 
        align-items: center;
    }

    .photo {
        width: 60vw;
        height: 50vw; 
    }

    .text {
        width: 80vw; 
        text-align: center;
    }

    .text h3 {
        font-size: 24px; 
    }

    .description p {
        width: 80vw; 
    }
}

@media(max-width: 480px) {
    .title-about {
        font-size: 28px; 
    }

    .photo {
        width: 80vw; 
        height: 80vw;
    }

    .text {
        width: 90vw;
    }

    .text h3 {
        font-size: 20px; 
    }

    .description p {
        width: 90vw; 
    }
}