#projects {
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
}

.projects-container {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px;
}

.project01, .project02, .project03{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 85%; 
    padding: 20px;
    background-color: white;
    gap: 20px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

.project01,  .project03 {
    background-color: #F0F0F0;
}

@media (max-width: 768px) {
    .project02 {
        width: 80vw; 
        flex-direction: column;
    }

    .project01,  .project03 {
        width: 80vw; 
        flex-direction: column-reverse;
    }
}

/* Estilo para o swiper (Carrossel de imagens) */
.swiper {
    width: 50%; 
    height: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%; 
    height: 100%;
    object-fit: contain; 
}

@media (max-width: 768px) {
    .swiper {
        height: auto; 
        width: 100%;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    line-height: 1.5;
    text-align: left; 
    text-align: justify;
    margin-right: 20px;
    margin-left: 20px;
}

.info h3 {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 0;
}

.p {
    font-size: 16px;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .info {
        width: 90%;  
        margin-right: 20px;
        margin-left: 20px;
    }
}