#competencias {
    width: 85%; 
    height: auto;
    gap: 60px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: white;
}

.competencias-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    line-height: 1.5;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title h3 {
    display: inline-block; 
    border-top: 2px solid #9B59B6;
    border-bottom: 2px solid #9B59B6;
    padding: 5px 0; 
    text-align: center;
    font-weight: 800;
}

li {
    font-family: "Rufina", serif;
    font-weight: 400;
}


@media(max-width: 768px) {

    .competencias-container {
        flex-direction: column;
    }

    .competencias01, .competencias02{
        padding-left: 40px;
        align-items: center;
    }
}
