#education-experience {
    background-color: white;
}

.education, .experience {
    width: 85%; 
    height: auto;
    gap: 120px;
    padding: 20px;
    margin: 0 auto;
}

.education-experience-container {
    display: flex;
    flex-direction: none;
    height: auto;
    width: auto;
    gap: 20px;
    line-height: 1.5;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.title h3 {
    display: inline-block; 
    border-top: 2px solid #9B59B6;
    border-bottom: 2px solid #9B59B6;
    padding: 5px 0; 
    text-align: center;
    font-weight: 800;
}

@media(max-width: 768px) {

    .education, .experience {
    width: 90%; 
    height: auto;
    gap: 120px;
    padding: 0px;
    margin: 0 auto;
}

    .education-experience-container {
        flex-direction: column;
    }

    .education-experience01, .education-experience02{
        padding-left: -10px;
        align-items: center;
    }
}
